<div class="ff2" style="font-size:55px">
    <span class="a" style="left:2193px;top:545px">{{RECEIPT_TITLE}}</span>
</div>
<div class="ff1" style="font-size:146px">
    <span class="a" style="left:1061px;top:678px">{{STORE_LOGO}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:895px;word-spacing:9px;letter-spacing:-1px">{{STORE_NAME}}</span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1061px;top:976px;word-spacing:-1px">{{STORE_ADDRESS_1}}</span><span class="a"
        style="left:1061px;top:1058px;word-spacing:-4px">{{STORE_ADDRESS_2}}</span><span class="a"
        style="left:1061px;top:1141px">{{STORE_WEBSITE}}</span><span class="a"
        style="left:1061px;top:1223px;word-spacing:11px;letter-spacing:-1px">{{VAT_LABEL}} {{VAT_NUMBER}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:1832px;word-spacing:-4px">{{PRODUCT_NAME}}</span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1061px;top:1930px;word-spacing:-1px">{{REF_LABEL}}
        {{REF_NUMBER}}</span><span class="a" style="left:1061px;top:2012px;word-spacing:-1px">{{SERIAL_LABEL}}
        {{SERIAL_NUMBER}}</span><span class="a" style="left:1061px;top:2095px;word-spacing:-1px">{{RETURN_DATE_LABEL}}
        {{RETURN_DATE}}</span><span class="a" style="left:1061px;top:2208px;word-spacing:-2px">{{SUPPORT_TEXT}}
        {{SUPPORT_URL}}</span><span class="a"
        style="left:1061px;top:2402px;word-spacing:-2px">{{ECO_PARTICIPATION_TEXT}}
        {{ECO_PARTICIPATION_AMOUNT}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:2547px;word-spacing:-93px;letter-spacing:95px">P<span class="l"
            style="margin-left:-97px">r<span class="l" style="margin-left:-95px">i<span class="l"
                    style="margin-left:-95px">x <span class="l" style="margin-left:-97px">U<span class="l"
                            style="margin-left:-95px">n<span class="l" style="margin-left:-96px">i<span class="l"
                                    style="margin-left:-95px">t<span class="l" style="margin-left:-95px">a<span
                                            class="l" style="margin-left:-95px">i<span class="l"
                                                style="margin-left:-95px">r<span class="l"
                                                    style="margin-left:-95px">e<span class="w"
                                                        style="width:828px"></span>T<span class="l"
                                                        style="margin-left:-94px">V<span class="l"
                                                            style="margin-left:-99px">A<span class="l"
                                                                style="margin-left:-96px">%<span class="w"
                                                                    style="width:798px"></span>Q<span class="l"
                                                                    style="margin-left:-96px">t<span class="l"
                                                                        style="margin-left:-95px">é<span class="l"
                                                                            style="margin-left:-96px">.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1061px;top:2657px;word-spacing:-167px;letter-spacing:167px">{{UNIT_PRICE_1}}<span
            class="l" style="margin-left:-173px">{{UNIT_PRICE_2}}<span class="l"
                style="margin-left:-170px">{{UNIT_PRICE_3}}<span class="l"
                    style="margin-left:-167px">{{UNIT_PRICE_4}}<span class="l"
                        style="margin-left:-167px">{{UNIT_PRICE_5}}<span class="l"
                            style="margin-left:-173px">{{UNIT_PRICE_6}} <span class="l"
                                style="margin-left:-167px">{{UNIT_PRICE_CURRENCY}}<span class="w"
                                    style="width:882px"></span>{{VAT_RATE_1}}<span class="l"
                                    style="margin-left:-167px">{{VAT_RATE_2}}<span class="l"
                                        style="margin-left:-169px">{{VAT_RATE_3}}<span class="l"
                                            style="margin-left:-167px">{{VAT_RATE_4}}<span class="l"
                                                style="margin-left:-167px">{{VAT_RATE_SYMBOL}}<span class="w"
                                                    style="width:805px"></span>{{QUANTITY}}</span></span></span></span></span></span></span></span></span></span></span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:2833px;word-spacing:-145px;letter-spacing:151px">P<span class="l"
            style="margin-left:-153px">r<span class="l" style="margin-left:-151px">i<span class="l"
                    style="margin-left:-151px">x <span class="l" style="margin-left:-157px">H<span class="l"
                            style="margin-left:-152px">T<span class="w" style="width:931px"></span>T<span class="l"
                                style="margin-left:-149px">V<span class="l" style="margin-left:-156px">A<span class="w"
                                        style="width:747px"></span>T<span class="l" style="margin-left:-155px">o<span
                                            class="l" style="margin-left:-151px">t<span class="l"
                                                style="margin-left:-152px">a<span class="l"
                                                    style="margin-left:-151px">l</span></span></span></span></span></span></span></span></span></span></span></span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1061px;top:2942px;word-spacing:-97px;letter-spacing:95px">{{PRICE_HT_1}}<span class="l"
            style="margin-left:-101px">{{PRICE_HT_2}}<span class="l" style="margin-left:-98px">{{PRICE_HT_3}}<span
                    class="l" style="margin-left:-95px">{{PRICE_HT_4}}<span class="l"
                        style="margin-left:-95px">{{PRICE_HT_5}}<span class="l"
                            style="margin-left:-101px">{{PRICE_HT_6}} <span class="l"
                                style="margin-left:-93px">{{PRICE_HT_CURRENCY}}<span class="w"
                                    style="width:939px"></span>{{TVA_AMOUNT_1}}<span class="l"
                                    style="margin-left:-95px">{{TVA_AMOUNT_2}}<span class="l"
                                        style="margin-left:-95px">{{TVA_AMOUNT_3}}<span class="l"
                                            style="margin-left:-95px">{{TVA_AMOUNT_4}}<span class="l"
                                                style="margin-left:-95px">{{TVA_AMOUNT_5}}
                                                <span class="l" style="margin-left:-93px">{{TVA_AMOUNT_CURRENCY}}<span
                                                        class="w" style="width:686px"></span>{{TOTAL_1}}<span class="l"
                                                        style="margin-left:-95px">{{TOTAL_2}}<span class="l"
                                                            style="margin-left:-95px">{{TOTAL_3}}<span class="l"
                                                                style="margin-left:-95px">{{TOTAL_4}}<span class="l"
                                                                    style="margin-left:-95px">{{TOTAL_5}}<span class="l"
                                                                        style="margin-left:-95px">{{TOTAL_6}}
                                                                        <span class="l"
                                                                            style="margin-left:-93px">{{TOTAL_CURRENCY}}</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:3206px;letter-spacing:-1px">{{TOTAL_LABEL}}</span><span class="a"
        style="left:1061px;top:3303px;word-spacing:-145px;letter-spacing:151px">P<span class="l"
            style="margin-left:-153px">r<span class="l" style="margin-left:-151px">i<span class="l"
                    style="margin-left:-151px">x <span class="l" style="margin-left:-157px">H<span class="l"
                            style="margin-left:-152px">T<span class="w" style="width:931px"></span>T<span class="l"
                                style="margin-left:-149px">V<span class="l" style="margin-left:-156px">A<span class="w"
                                        style="width:747px"></span>T<span class="l" style="margin-left:-155px">o<span
                                            class="l" style="margin-left:-151px">t<span class="l"
                                                style="margin-left:-152px">a<span class="l"
                                                    style="margin-left:-151px">l</span></span></span></span></span></span></span></span></span></span></span></span><span
        class="a" style="left:1061px;top:3415px;word-spacing:-96px;letter-spacing:93px">{{TOTAL_PRICE_HT_1}}<span
            class="l" style="margin-left:-100px">{{TOTAL_PRICE_HT_2}}<span class="l"
                style="margin-left:-98px">{{TOTAL_PRICE_HT_3}}<span class="l"
                    style="margin-left:-94px">{{TOTAL_PRICE_HT_4}}<span class="l"
                        style="margin-left:-92px">{{TOTAL_PRICE_HT_5}}<span class="l"
                            style="margin-left:-100px">{{TOTAL_PRICE_HT_6}} <span class="l"
                                style="margin-left:-91px">{{TOTAL_PRICE_HT_CURRENCY}}<span class="w"
                                    style="width:928px"></span>{{TOTAL_TVA_1}}<span class="l"
                                    style="margin-left:-94px">{{TOTAL_TVA_2}}<span class="l"
                                        style="margin-left:-93px">{{TOTAL_TVA_3}}<span class="l"
                                            style="margin-left:-93px">{{TOTAL_TVA_4}}<span class="l"
                                                style="margin-left:-95px">{{TOTAL_TVA_5}}
                                                <span class="l" style="margin-left:-91px">{{TOTAL_TVA_CURRENCY}}<span
                                                        class="w" style="width:673px"></span>{{TOTAL_TTC_1}}<span
                                                        class="l" style="margin-left:-93px">{{TOTAL_TTC_2}}<span
                                                            class="l" style="margin-left:-94px">{{TOTAL_TTC_3}}<span
                                                                class="l" style="margin-left:-94px">{{TOTAL_TTC_4}}<span
                                                                    class="l"
                                                                    style="margin-left:-92px">{{TOTAL_TTC_5}}<span
                                                                        class="l"
                                                                        style="margin-left:-94px">{{TOTAL_TTC_6}}
                                                                        <span class="l"
                                                                            style="margin-left:-91px">{{TOTAL_TTC_CURRENCY}}</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span><span
        class="a" style="left:2052px;top:3609px;word-spacing:4px;letter-spacing:-1px">{{PAYMENT_METHOD_LABEL}}</span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1387px;top:3780px;word-spacing:2px">{{PAYMENT_METHOD_1_TEXT}}
        <span class="l7">{{PAYMENT_METHOD_1_TYPE}} <span
                class="w10"></span>{{PAYMENT_METHOD_1_DETAILS}}</span></span><span class="a"
        style="left:2415px;top:3863px">{{PAYMENT_METHOD_1_CARD_MASK}} {{PAYMENT_METHOD_1_CARD_LAST4}}</span><span
        class="a" style="left:2417px;top:3945px;letter-spacing:-2px">{{PAYMENT_METHOD_1_AUTH_CODE}}</span><span
        class="a"
        style="left:3252px;top:3780px;word-spacing:5px;letter-spacing:-2px">{{PAYMENT_METHOD_1_AMOUNT}}</span><span
        class="a" style="left:1885px;top:4088px;word-spacing:-1px">{{PAYMENT_METHOD_2_TEXT}}</span><span class="a"
        style="left:2424px;top:4170px;word-spacing:-1px;letter-spacing:-1px">{{PAYMENT_METHOD_2_CARD_MASK}}
        {{PAYMENT_METHOD_2_CARD_LAST4}}</span><span class="a"
        style="left:2440px;top:4253px;letter-spacing:-1px">{{PAYMENT_METHOD_2_AUTH_CODE}}</span><span class="a"
        style="left:3274px;top:4088px;word-spacing:-1px">{{PAYMENT_METHOD_2_AMOUNT}}</span><span class="a"
        style="left:2020px;top:4440px;word-spacing:-1px">{{GIFTCARD_BALANCE_LABEL}}</span><span class="a"
        style="left:2415px;top:4523px">{{GIFTCARD_MASK}} {{GIFTCARD_LAST4}}</span><span class="a"
        style="left:3305px;top:4530px;word-spacing:3px;letter-spacing:-1px">{{GIFTCARD_BALANCE}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a"
        style="left:1061px;top:5015px;word-spacing:1px;letter-spacing:-1px">{{VAT_SUMMARY_LABEL}}</span><span class="a"
        style="left:1061px;top:5112px;word-spacing:-61px;letter-spacing:58px">T<span class="l"
            style="margin-left:-62px">a<span class="l" style="margin-left:-59px">u<span class="l"
                    style="margin-left:-59px">x <span class="l" style="margin-left:-55px">d<span class="l"
                            style="margin-left:-58px">e <span class="l" style="margin-left:-57px">T<span class="l"
                                    style="margin-left:-56px">V<span class="l" style="margin-left:-63px">A<span
                                            class="w" style="width:717px"></span>A<span class="l"
                                            style="margin-left:-59px">s<span class="l" style="margin-left:-58px">s<span
                                                    class="l" style="margin-left:-59px">i<span class="l"
                                                        style="margin-left:-58px">e<span class="l"
                                                            style="margin-left:-59px">t<span class="l"
                                                                style="margin-left:-58px">t<span class="l"
                                                                    style="margin-left:-59px">e
                                                                    <span class="l" style="margin-left:-56px">d<span
                                                                            class="l" style="margin-left:-58px">e
                                                                            <span class="l"
                                                                                style="margin-left:-56px">l<span
                                                                                    class="l"
                                                                                    style="margin-left:-58px">a
                                                                                    <span class="l"
                                                                                        style="margin-left:-55px">T<span
                                                                                            class="l"
                                                                                            style="margin-left:-57px">V<span
                                                                                                class="l"
                                                                                                style="margin-left:-63px">A<span
                                                                                                    class="w"
                                                                                                    style="width:688px"></span>T<span
                                                                                                    class="l"
                                                                                                    style="margin-left:-56px">V<span
                                                                                                        class="l"
                                                                                                        style="margin-left:-63px">A</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
</div>
<div class="ff4" style="font-size:59px">
    <span class="a" style="left:1061px;top:5221px;word-spacing:-107px;letter-spacing:109px">{{SUMMARY_VAT_RATE_1}}<span
            class="l" style="margin-left:-110px">{{SUMMARY_VAT_RATE_2}}<span class="l"
                style="margin-left:-111px">{{SUMMARY_VAT_RATE_3}}<span class="l"
                    style="margin-left:-108px">{{SUMMARY_VAT_RATE_4}}<span class="l"
                        style="margin-left:-110px">{{SUMMARY_VAT_RATE_SYMBOL}}<span class="w"
                            style="width:964px"></span>{{SUMMARY_BASE_1}}<span class="l"
                            style="margin-left:-116px">{{SUMMARY_BASE_2}}<span class="l"
                                style="margin-left:-111px">{{SUMMARY_BASE_3}}<span class="l"
                                    style="margin-left:-109px">{{SUMMARY_BASE_4}}<span class="l"
                                        style="margin-left:-109px">{{SUMMARY_BASE_5}}<span class="l"
                                            style="margin-left:-115px">{{SUMMARY_BASE_6}} <span class="l"
                                                style="margin-left:-112px">{{SUMMARY_BASE_CURRENCY}}<span class="w"
                                                    style="width:695px"></span>{{SUMMARY_TVA_1}}<span class="l"
                                                    style="margin-left:-109px">{{SUMMARY_TVA_2}}<span class="l"
                                                        style="margin-left:-109px">{{SUMMARY_TVA_3}}<span class="l"
                                                            style="margin-left:-109px">{{SUMMARY_TVA_4}}<span class="l"
                                                                style="margin-left:-109px">{{SUMMARY_TVA_5}}
                                                                <span class="l"
                                                                    style="margin-left:-111px">{{SUMMARY_TVA_CURRENCY}}</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span><span class="a" style="left:1061px;top:1466px;word-spacing:-2px;letter-spacing:-3px">{{CUSTOMER_NAME}}</span><span
            class="a" style="left:1061px;top:1562px;letter-spacing:-4px">{{CUSTOMER_EMAIL}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1061px;top:5455px;letter-spacing:-1px">{{DATE_1}}</span>
</div>
<div class="ff5" style="font-size:42px">
    <span class="a" style="left:1171px;top:5456px">{{DATE_2}}</span>
</div>
<div class="ff2" style="font-size:55px">
    <span class="a" style="left:1201px;top:5455px;word-spacing:1px;letter-spacing:-2px">{{DATE_3}}</span>
</div>
</div>